<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender para testes -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silencia os logs do KeycloakAdminClient durante os testes -->
    <logger name="br.com.user.config.KeycloakAdminClient" level="OFF"/>

    <!-- Configuração padrão para outros logs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

